.button {
    margin: 0;
    padding: 18px 25px;
    width: 152px;
    border: none;
    background: #FFFFFF;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #333136;
}

.button:hover {
    cursor: pointer;
    background-color: #FFAD9B;
}