.footer {
    background-color: #1D1C1E;
    height: 400px;
}

.footer__container {
    height: 400px;
}

.footer__content-top {}

.footer__logo {
    width: 202px;
}

.footer__logo-img {
    width: 202px;
    max-width: 100%;
}